<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-classes-link">
                <a href="" class="dropdown-item">By Age</a>
                <a href="" class="dropdown-item ">By Day</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Classes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="singing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Singing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="singing-link">
                <a href="" class="dropdown-item">Pop/Rock</a>
                <a href="" class="dropdown-item">Opera/Classical</a>
                <a href="" class="dropdown-item">Blues/Jazz</a>
                <a href="" class="dropdown-item">All Singing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Dancing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dancing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dancing-link">
                <a href="" class="dropdown-item">Hip Hop</a>
                <a href="" class="dropdown-item">Ballet</a>
                <a href="" class="dropdown-item">Contemporary</a>
                <a href="" class="dropdown-item">Tap</a>
                <a href="" class="dropdown-item">Ballroom</a>
                <a href="" class="dropdown-item">Jazz</a>
                <a href="" class="dropdown-item">Lyrical</a>
                <a href="" class="dropdown-item">All Dance</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="acting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="acting-link">
                <a href="" class="dropdown-item">Stage</a>
                <a href="" class="dropdown-item">Screen</a>
                <a href="" class="dropdown-item">Improv</a>
                <a href="" class="dropdown-item">All Acting</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="musical-theatre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Musical Theatre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="musical-theatre-link">
                <a href="" class="dropdown-item">Juniors</a>
                <a href="" class="dropdown-item">Seniors</a>
                <a href="" class="dropdown-item">Adults</a>
                <a href="" class="dropdown-item">All Musical Theatre</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="instruments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instruments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="instrument-link">
                <a href="" class="dropdown-item">Piano</a>
                <a href="" class="dropdown-item">Guitar</a>
                <a href="" class="dropdown-item">Bass</a>
                <a href="" class="dropdown-item">Drums</a>
                <a href="" class="dropdown-item">All Instruments</a>
            </div>
        </li>

    </ul>
</div>