<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Classes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-classes-link">
                <a href="{% url 'classes' %}?sort=age&direction=asc" class="dropdown-item">By Age</a>
                <a href="{% url 'classes' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'classes' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'classes' %}" class="dropdown-item">All Classes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="singing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Singing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="singing-link">
                <a href="{% url 'classes' %}?category=rockpop" class="dropdown-item">Rock/Pop</a>
                <a href="{% url 'classes' %}?category=operaclassical" class="dropdown-item">Opera/Classical</a>
                <a href="{% url 'classes' %}?category=musicaltheatre" class="dropdown-item">Musical Theatre</a>
                <a href="{% url 'classes' %}?category=rockpop,operaclassical,musicaltheatre" class="dropdown-item">All Singing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dancing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dancing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="junior-link">
                <a href="{% url 'classes' %}?category=ballet" class="dropdown-item">Ballet</a>
                <a href="{% url 'classes' %}?category=hiphop" class="dropdown-item">Hip Hop</a>
                <a href="{% url 'classes' %}?category=tap" class="dropdown-item">Tap</a>
                <a href="{% url 'classes' %}?category=ballroom" class="dropdown-item">Ballroom</a>
                <a href="{% url 'classes' %}?category=musicaltheatre" class="dropdown-item">Musical Theatre</a>
                <a href="{% url 'classes' %}?category=ballet,hiphop,tap,ballroom,musicaltheatre" class="dropdown-item">All Dancing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="acting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="senior-link">
                <a href="{% url 'classes' %}?category=stage" class="dropdown-item">Stage</a>
                <a href="{% url 'classes' %}?category=screen" class="dropdown-item">Screen</a>
                <a href="{% url 'classes' %}?category=improv" class="dropdown-item">Improv</a>
                <a href="{% url 'classes' %}?category=musicaltheatre" class="dropdown-item">Musical Theatre</a>
                <a href="{% url 'classes' %}?category=stage,screen,improv,musicaltheatre" class="dropdown-item">All Acting</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="instruments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instruments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adult-link">
                <a href="{% url 'classes' %}?category=piano" class="dropdown-item">Piano</a>
                <a href="{% url 'classes' %}?category=guitar" class="dropdown-item">Guitar</a>
                <a href="{% url 'classes' %}?category=bassguitar" class="dropdown-item">Bass</a>
                <a href="{% url 'classes' %}?category=drums" class="dropdown-item">Drums</a>
                <a href="{% url 'classes' %}?category=ukulele" class="dropdown-item">Ukulele</a>
                <a href="{% url 'classes' %}?category=piano,guitar,bassguitar,drums,ukulele" class="dropdown-item">All Instruments</a>
            </div>
        </li>

    </ul>
</div>