{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font mb-4 text-white">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" class="btn btn-info border border-white rounded-0" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
