{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container bg-black">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid pb-5 bg-black">
         <div class="row">
            <div class="col-12 col-lg-10 mt-3 mx-auto">

                <div class="row">
                    <div class="col text-center">
                        <h2 class="logo-font mb-4 text-white">Add an Article</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">

                        <!-- Add article -->
                        <form method="POST" action="{% url 'add_article' %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <div class="text-right">
                                <a class="btn btn-info border border-white rounded-0" href="{% url 'blog' %}">Cancel</a>
                                <button class="btn btn-info border border-white rounded-0" type="submit">Add Article</button>
                            </div>
                        </form>

                    </div>            
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Inform user what the image will be changed to -->
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}