{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container bg-black">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid pb-5 bg-black">
            <div class="row">
                <div class="col-12 col-lg-10 mt-3 mx-auto">

                    <div class="row">
                        <div class="col text-center">
                            <h2 class="logo-font mb-4 text-white">Blog</h2>
                        </div>
                    </div>
                
                    <!-- Iterate through articles for blog -->
                    <div class="row">
                        {% for i in object_list %}
                            <div class="card mx-auto mb-5" style="width: 18rem;">
                                <div class="card-header">
                                <img class="card-img-top img-fluid" src="{{ i.image.url }}">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.title }}</h5>
                                    <p class="card-text">{{ i.body|truncatechars:150 }}</p>
                                    <a href="{% url 'blog_detail' i.pk %}" class="btn btn-info">Read more</a>
                                </div>
                                <div class="card-footer">
                                    <p class="text-muted">Posted by: {{ i.author }} | {{ i.date }}</p>
                                </div>
                             </div>
                        {% endfor %}
                    </div>
                </div>
            </div> 
        </div>
{% endblock %}